.boxs{
    display: flex;
    flex-direction: row;
}
.box{
    flex: 1;
    margin: 0 10px;
    height: 100px;
    width: 100px;
    border-radius: 8px;
}
.box1{
    background-color: rgb(17, 145, 184);

}
.box2{
    background-color: green;
}
.box3{
    background-color: rgb(212, 141, 10);
}
.box4{
    background-color: rgb(255, 122, 122);
}
.item{
    height: 70px;
}
.item-img{
    font-size: 50px;
    margin-top: 6px;
    color: rgb(95, 93, 88);
}
.item-menu{
    font-size: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 14px;
}
.link{
    margin-top: 2px;
}
.item-link{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
}
.item-link:hover{
    color: rgb(16, 17, 17);
    
}
.item-img-box2{
    font-size: 50px;
    margin-top: 6px;
    color: rgb(160, 158, 153);
}